.gitkeep
.htaccess
.idea/
.lando.yml

apple-touch-icon-precomposed.png
apple-touch-icon.png
favicon.ico

.DS_Store

*.csv
*.sql

/index.php
/wp-content/index.php
/wp-content/themes/index.php
index.html_bak
info.php
license.txt
readme.html

wp-activate.php
wp-admin/
wp-blog-header.php
wp-cli.yml
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-config.php.save
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

#wp-content/
wp-content/_backups
wp-content/aam
wp-content/debug.log
wp-content/issue_request
wp-content/uploads
wp-content/upgrade
wp-content/vimeography
wp-content/themes/twentynineteen
wp-content/themes/twentytwenty
wp-content/themes/twentytwentyone
wp-content/themes/simple-theme/node_modules

wp-content/ai1wm-backups
wp-content/mu-plugins/0-worker.php

wp-content/plugins/advanced-custom-fields-pro/
wp-content/plugins/advanced-custom-fields/
wp-content/plugins/site-counts/

local-phpinfo.php
wp-content/mu-plugins/local-by-flywheel-live-link-helper.php


!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/mat-blocks

import_data/